.filter-background {
  background-color: #FEF7FF !important;
  color: black !important;
  border-radius: 25px;
  margin-left: 1%;
}

.header-content {
  text-align: center;
  font-size: 20px;
}

.list-height {
  height: fit-content !important;
}
