<div class="filter-background">
  <h3 class="header-content">{{title}}</h3>
  <mat-list class="list-height" *ngFor="let field of this.filterService.currentCategoryFields" [ngSwitch]="field.type">
    <mat-list-item *ngSwitchCase="numberComponent">
      <app-number-regulator [field]="field"></app-number-regulator>
    </mat-list-item>
    <!--    <mat-list-item *ngSwitchCase="dropdownComponent">-->
    <!--      <app-dropdown-regulator></app-dropdown-regulator>-->
    <!--    </mat-list-item>-->
    <!--    <mat-list-item *ngSwitchCase="radioComponent">-->
    <!--      <app-radio-regulator></app-radio-regulator>-->
    <!--    </mat-list-item>-->
  </mat-list>
</div>
