<!-- this is the template for the dropdown field -->
<!-- it is a mat-select with a mat-option for each option in the field -->
<!-- the mat-select is bound to the selectedOption FormControl -->
<!-- the mat-select is given a label of the field name -->
<!-- the mat-select is given a placeholder of "None" if no element is selected -->
<h2 class="header">{{field.name}}</h2>
<!-- the mat-select is given a color of accent and an appearance of outline -->
<mat-form-field class="Box" color="accent" appearance="outline">
  <!-- the mat-select is given a label of the field name -->
  <mat-label>{{field.name}}</mat-label>
  <mat-select [formControl]="selectedOption">
    <!-- the mat-select is given a mat-option with a value of "unselected" and displays "None" -->
    <mat-option [value]="'unselected'">None</mat-option>
    <!-- the mat-select is given a mat-option for each option in the field -->
    <mat-option *ngFor="let option of this.field.options" [value]="option">{{option}}</mat-option>
  </mat-select>
</mat-form-field>
