<app-previewpanel class="primary-background">
  <app-header></app-header>
  <app-toastmessage></app-toastmessage>

  <div class="primary-background">
    <ng-container *ngIf="(routingService.getDestinationObservable() | async) == '/'">
      <div class="wrapper">
        <div class="first">
          <app-filter></app-filter>
        </div>
        <div class="second">
          <app-category></app-category>
          <app-tags></app-tags>
          <app-instance-preview></app-instance-preview>
        </div>
      </div>
    </ng-container>
  </div>

  <ng-container *ngIf="(routingService.getDestinationObservable() | async) == '/comparison'">
    <app-comparison class="font"></app-comparison>
    <p class="goBackButton" align="right">
      <button mat-raised-button color="accent" (click)="routingService.setDestination('/')"> Go Back</button>
      <button mat-icon-button class="print-dialog-button" (click)="printDocument()">
        <mat-icon>print</mat-icon>
      </button>
    </p>
  </ng-container>
</app-previewpanel>



<!--<div class="primary-background">Visits:-->

<!--    <ng-container *ngIf="api.counterLoading">loading...</ng-container>-->
<!--    <ng-container *ngIf="!api.counterLoading">{{api.counter + ", "}}</ng-container>-->
<!--    <span>{{this.title + ", "}}</span>-->
<!--    &lt;!&ndash; showcasing currently selected category &ndash;&gt;-->
<!--  <span>{{"Category: " + (this.categoryService.getCategory() | async)?.name}}</span>-->
<!--</div>-->
