
<app-previewpanel ></app-previewpanel>
<app-header></app-header>


<ng-container *ngIf="(routingService.getDestinationObservable() | async) == '/'">
  <div class="wrapper">
    <div class="first">
      <app-filter></app-filter>
    </div>

    <div class="second">
      <app-category></app-category>
      <app-instance-preview></app-instance-preview>
      <app-instance-configuration-dialog />
      <a (click)="routingService.setDestination('/comparison')">Cart</a>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="(routingService.getDestinationObservable() | async) == '/comparison'">
  <app-comparison class="font"></app-comparison>
  <a (click)="routingService.setDestination('/')">Home</a>
</ng-container>



<!--<div class="primary-background">Visits:-->

<!--    <ng-container *ngIf="api.counterLoading">loading...</ng-container>-->
<!--    <ng-container *ngIf="!api.counterLoading">{{api.counter + ", "}}</ng-container>-->
<!--    <span>{{this.title + ", "}}</span>-->
<!--    &lt;!&ndash; showcasing currently selected category &ndash;&gt;-->
<!--  <span>{{"Category: " + (this.categoryService.getCategory() | async)?.name}}</span>-->
<!--</div>-->
