.font {
  font-size: 20px;
}

.wrapper {

  width: 80%;
  overflow: hidden; /* will contain if #first is longer than #second */
}

.first {
  width: 30%;
  float: left; /* add this */
}

.second {
  overflow: hidden; /* if you don't want #second to wrap below #first */
}

mat-list {
  align-items: normal;
}

.goBackButton-printButton {
  display: flex;
}

@media print {
  @page { margin: 0; }
  .printable {
    visibility: visible;
  }
  .nonPrintable {
    visibility: hidden;
  }
}

.print-dialog-button {
  background-color: #0074D9;
  cursor: pointer;
  margin-left: 90%;
}




