j   1    Gesamtpreisübersicht
j   1        Pro Kategorie
j   1        Pro Service/Instanz
j   2        Aufteilung
j   2            Provisioning
j   2            Monthly
    
j   3    Angebotserstellung
j   4        Konditionen
j   4        SLA
j   4        Rabatt
j   3        Email / Kontakt zum jeweiligen Vertrieb
    
j   5    Konkurrenz
j   5        Vergleiche mit ähnlichen Services
    
l   6    Kategorien
l   7        Produkte
l   8            ServicePlans
l   8                Dauer
l   8                Instances
l   8                Preis pro Einheit pro Zeit
l   9                Währungen
l   10+11        Konfiguration
k   11+12        Speicherung
k   13            DB -> JSON im mount
           
k   14    Suche
k   15        Nach Service / Kategorie filtern
       
k   16    Demoszenarien
       
m   17    Teilen
m   17        Url
m   17        Speichern
    
t   18+19    Hostingmöglichkeiten
t   18+19      Docker
t   18+19		NodeJS
t   18+19		mounts config and data directories (supports multi + single tenant)
    
    
m   20    Provisioned Hosting
m   21        Multi Tenant
t   22            Login 😢
m   23            Konfiguration
m   24                Weboberfläche
    
t   25        Single Tenant 
t   22            Login 😢
m   23            Konfiguration
m   24                Weboberfläche
           
t   18+19    Self Hosting
-   ----        Kein login 😁
t   18+19        Datei hinterlegen
    
t   26    Rechtliches
t   26       FAQ
t   26       Impressum