mat-chip[ng-reflect-highlighted="true"] {
  background-color: #9E9E9E;
  // background-color: #FF4081; //pink
}

mat-chip {
  margin: 5px;
}

.filterTagText {
  color: black;
}

.tagHost {
  margin-left: 2.5%;
}
