<div *ngIf="(shoppingCart.getItemsObserver() | async)?.length != 0">
  <table class="mat-table-background-pink" mat-table
         [dataSource]="shoppingCart.getItemsObserver()">
    <ng-container matColumnDef="name">
      <th class="mat-table-background-white vendorAlign grow" mat-header-cell *matHeaderCellDef>Your configuration</th>
      <td mat-cell *matCellDef="let item">

        <div class="configuration-cell">
          <app-remove-instance [cartItem]="item"></app-remove-instance>
          <mat-accordion>
            <mat-expansion-panel [expanded]="printService.isPrinting?true: undefined" class="mat-table-background-pink">
              <mat-expansion-panel-header>
                <mat-panel-title class="mat-elevation-z0">
                  {{valuesIn(item.instance.name).join(" / ")}}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p class="notes" *ngIf="item.notes" [attr.data-notes]="">
                {{item.notes}}
              </p>
              <p *ngFor="let key of keys(item.instance.fields)">
                {{key}}: {{item.instance.fields[key].unit}} {{item.instance.fields[key].value}}
              </p>
              <p *ngFor="let vendor of vendors">
                {{vendor}} : {{getUnitStringForVendor(item.providers, vendor)}}
              </p>
            </mat-expansion-panel>
          </mat-accordion>

          <input class="quantity" data-quantityinput type="number" oninput="this.value = this.value >= 1 ? this.value : 1"  [(ngModel)]="item.numberOfInstances">
        </div>
      </td>
    </ng-container>

    <ng-container *ngFor="let vendor of vendors" [matColumnDef]="vendor">
      <th class="mat-table-background-white" mat-header-cell *matHeaderCellDef> {{vendor}}</th>
      <td mat-cell class="vendor" *matCellDef="let item; index as i">
        <mat-radio-button class="hidden-radio-button" [name]="'comparison-'+i" [value]="vendor" [checked]="vendor == item.selectedProvider"
                          (change)="item.selectedProvider = vendor">

          <mat-chip color="accent" [highlighted]="item.selectedProvider==vendor">
            {{item.pricingInformation[vendor].price  | number:'1.2-2'}} USD
          </mat-chip>
          <mat-icon data-tooltipUnit matTooltip="{{getUnitStringForVendor(item.providers, vendor)}}"
                    style="transform: scale(0.8);" fontIcon="info">
          </mat-icon>

        </mat-radio-button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let item; columns: columnsToDisplay;"></tr>
  </table>
  <p class="priceFont" align="right">
    Total:
    {{getTotalPrice() | number:'1.2-2'}} USD
</div>

<div *ngIf="shoppingCart.getItems().length==0">
  <p class="emptyCart">The shopping cart is empty</p>
</div>

