<div *ngIf="shoppingCart.getItems().length!=0">
  <table class="mat-table-background-pink" mat-table
         [dataSource]="shoppingCart.getItems()">
    <ng-container matColumnDef="name">
      <th class="mat-table-background-white" mat-header-cell *matHeaderCellDef> Your configuration</th>
      <td mat-cell *matCellDef="let item">
        <mat-accordion>
          <mat-expansion-panel class="mat-table-background-pink">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{item.name}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
              Quick description
            </mat-panel-description>
            <p *ngFor="let key of keys(item.fields)">
              {{key}}: {{item.fields[key].unit}} {{item.fields[key].value}}
            </p>
          </mat-expansion-panel>
        </mat-accordion>
      </td>
    </ng-container>

    <ng-container *ngFor="let vendor of vendors" [matColumnDef]="vendor">
      <th class="mat-table-background-white" mat-header-cell *matHeaderCellDef> {{vendor}}</th>
      <td mat-cell *matCellDef="let item; index as i">
        <mat-radio-button [name]="'comparison-'+i" [value]="vendor" [checked]="selectedOption[i] == vendor"
                          (change)="selectedOption[i] = vendor">
          <mat-chip color="accent" [highlighted]="selectedOption[i]==vendor">
            {{item.price[vendor].value  | number:'1.2-2'}} {{item.price[vendor].unit}}
          </mat-chip>
        </mat-radio-button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let item; columns: columnsToDisplay;"></tr>
  </table>
  <p>
    {{getTotalPrice() | number:'1.2-2'}} USD
  </p>
</div>


<div *ngIf="shoppingCart.getItems().length==0">
  <p>
    The shopping cart is empty
  </p>
</div>
