<mat-accordion>

  <mat-expansion-panel *ngFor="let cartItem of shoppingCart.items" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{cartItem.name}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-panel-description>
      This is a summary of the content
    </mat-panel-description>
    <p *ngFor="let priceKey of keys(cartItem.price)" >
      {{priceKey}}:{{cartItem.price[priceKey].value}} {{cartItem.price[priceKey].unit}}
    </p>
  </mat-expansion-panel>
</mat-accordion>
