<h2 class="header">{{field.name}}</h2>
<div>
  <mat-form-field data-number-input-min class="formFieldBox" color="accent" appearance="outline">
        <mat-label>{{field.unit}}</mat-label>
        <input matInput type="number"
               [ngModel]="minNumber$ | async"
               (ngModelChange)="minNumber$.next($event)">
    </mat-form-field>
  <mat-form-field data-number-input-max class="formFieldBox" color="accent" appearance="outline">
        <mat-label>{{field.unit}}</mat-label>
        <input matInput type="number"
               [ngModel]="maxNumber$ | async"
               (ngModelChange)="maxNumber$.next($event)">
    </mat-form-field>
</div>
<div>
  <mat-slider class="sliderBox" color="accent" [step]="stepSize" [min]="min" [max]="max">
    <input matSliderStartThumb data-number-slider-min
               [ngModel]="minNumber$ | async"
               (ngModelChange)="minNumber$.next($event)">
    <input matSliderEndThumb data-number-slider-max
               [ngModel]="maxNumber$ | async"
               (ngModelChange)="maxNumber$.next($event)">
    </mat-slider>
</div>
