<div class="instance-preview-container">
  <div *ngIf="instanceService.loadedInstances">
    <div *ngFor="let instance of instanceService.loadedInstances">
        <div class="fieldContainer">
          <div class="instanceName"><b>{{ valuesIn(instance.name).join(" / ") }}</b></div>
          <div class="fieldsContainer">
            <div *ngFor="let field of categoryService.getCategoryValue()?.fields; index as i" class="fieldItem" [attr.data-column]="i+1">
              <div>{{ field.name }}</div>
              <div class="fieldItem"><b>{{ instance.fields[field.name].value}}</b></div>
            </div>
          </div>

          <div class="pickButton">
            <app-instance-configuration-dialog [instance]="instance"></app-instance-configuration-dialog>
          </div>
        </div>
    </div>
  </div>
</div>
