.instance-preview-container {
  margin-left: 3%;
  margin-top: 3%;
}

.fieldContainer {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  justify-content: flex-start;
  align-items: baseline;
  gap: 5px;
  counter-set: cloudcolumn 0;

  .fieldItem {
    counter-increment: cloudcolumn 1;
    flex: 1;
  }

  div {
    margin-bottom: 5px;
  }
}
