.instance-preview-container {
  margin-left: 3%;
  margin-top: 3%;
}

.fieldContainer {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  align-items: stretch;
  justify-content: flex-start;
  border: hidden;
  border-radius: 15px;
  padding: 10px;
  gap: 10px;
  margin-bottom: 2%;
  counter-set: cloudcolumn 0;

  .fieldsContainer {
    display: flex;
    flex: 1;
  }

  .fieldName {
    counter-increment: cloudcolumn 1;
    padding: 5px;
    flex: 1;
  }

  .fieldValue {
    counter-increment: cloudcolumn 1;
    padding: 5px;
    flex: 1;
  }

  div {
    margin-bottom: 5px;
  }

  .pickButton {
    align-self: center;
  }

  .instanceName {
    white-space: nowrap;
    margin-bottom: 10px;
  }
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  padding: 10px;
}

.titleRow TD {
  border-top: 1px solid #FEF7FF;
  background-color: #FEF7FF;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.fieldRow {
  td {
    background-color: #FEF7FF;
    border-bottom: 1px solid #FEF7FF;
  }

  td:first-child {
    background-color: #FEF7FF;
    border-bottom: 1px solid #FEF7FF;
    border-bottom-left-radius: 15px;
  }

  td:last-child {
    background-color: #FEF7FF;
    border-bottom: 1px solid #FEF7FF;
    border-bottom-right-radius: 15px;
  }
}

.emptySpace {
  margin-top: 5px;
  margin-bottom: 5px;
}
