
.header-background {
  background-color: #FEF7FF !important;
  max-height: 6%;
}

.header-spacer {
  margin: 1%;
}

.bottom-spacer {
  height: 1%;
  background-color: white !important;
}

.align-right {
  margin-left: auto;
  margin-right: 0;
}
