<mat-toolbar class="header-background">
  <mat-icon>cloud</mat-icon>
  <span class="header-spacer">{{title}}</span>
  <app-searchbar ></app-searchbar>
  <button
    (click)="openPanel()"
    matTooltip="Configuration"
    data-panel-button
    mat-icon-button class="align-right">
      <mat-icon
        matBadge="{{ (shoppingCart.getItemsObserver() | async)?.length !== undefined ? (shoppingCart.getItemsObserver() | async)?.length : '0' }}"
        matBadgePosition="before" matBadgeColor="warn" matBadgeSize="small">shopping_basket
      </mat-icon>
  </button>
</mat-toolbar>

<div class="bottom-spacer"></div>

