<mat-sidenav-container *ngIf=showPanel data-preview-panel
class="example-container" (backdropClick)="showPanel=false" [hasBackdrop]="true">
  <mat-sidenav mode="over"></mat-sidenav>
  <mat-sidenav-content class="panelContent">

    <div class="topRow">
      <div class="title"><h1>My Configuration</h1></div>

      <div class="closeButton">
        <button (click)="close()" data-panel-close mat-icon-button>
          <mat-icon fontIcon="close">Close</mat-icon>
        </button>
      </div>
    </div>


    <div class="groups" *ngFor="let group of sortIntoGroups(shoppingCart.getItemsObserver() | async); last as last ">
      <div>
        <!-- Display category name -->
        <h2 class="categoryName">{{ group.category }}</h2>

        <div class="items" *ngFor="let item of group.items">

          <!--                buttons for removing-->
          <!--            <button class="cancel" mat-icon-button>-->
          <!--              <mat-icon fontIcon="cancel">Cancel</mat-icon>-->
          <!--            </button>-->

          <h4 class="itemName"> {{ valuesIn(item.instance.name).join(" / ") }}</h4>

        </div>
      </div>

      <!-- Add a divider if it's not the last group -->
      <mat-divider *ngIf="!last" class="divider"></mat-divider>
    </div>

    <button mat-raised-button color="accent" class="cartButton"
            (click)="routingService.setDestination('/comparison'); showPanel=false;">View Summary
    </button>
  </mat-sidenav-content>
</mat-sidenav-container>


